# Data
**/*.csv
**/*.db
**/*:Zone.Identifier
**/*.xls
**/*.xlsx
**/data
!study_control_system_with_python/data

# Build artifacts
**/checkpoints
**/*build

# Logs
**/*logs

# Cache
**/*.slxc
slprj/

# Environment caching
.vscode