# Data
**/*.csv
**/*.db
**/*:Zone.Identifier
**/*.xls
**/*.xlsx
**/data
!a_primer_on_modern_control_algorithms/data

# Build artifacts
**/checkpoints
**/*build
**/.ipynb_checkpoints

# Logs
**/*logs

# Cache
**/*.slxc
slprj/

# Environment caching
.vscode